version: '3'
services:
  front:
    build: /front
    container_name: front
    ports:
      - '8080:80'
  back:
    build: /back
    container_name: back
    ports:
      - '4000:40'
    depends_on:
      - db
  db:
    image: postgres
    container_name: db
    ports:
      -"8080:5432"

